#header-card {
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin: 1rem;
    padding: 1rem 2rem 1.5rem;
    background-color: white;
}

#control-card {
    align-items: center;
    justify-content: center;
    display: flex;
}

.control-child {
    margin-right: 3rem;
}

.control-child > p{
    margin-bottom: 0.1rem;
    font-weight: bold;
    font-size: 13px;
}

.control-child > input{
    font-size: 12px;
}

.result-child {
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 1rem 2rem 1.5rem;
    min-width: 16rem;
    margin-right: 3rem;
}

.result-child h2 {
    font-size: 2rem;
    margin-bottom: .75rem;
    font-weight: 500;
    line-height: 1.2;
}
.result-child h2 {
    margin-bottom: 0;
}

.chart-child {
    padding: 1rem;
    background: white;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

#calculate-btn {
    color: white;
    background-color: #0a58ca;
}

#left-column {
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin-left: unset;
    background-color: white;
    margin: 1rem;
    padding: 1rem 2rem 1.5rem;
    overflow-wrap: break-word;
}

#main-column{
    width: 76%;
    margin-left: unset;
    padding: 1rem 0rem 1.5rem;
}

.bg-light {
    background-color: white!important;
}
.bg-dark {
    background-color: #343a40!important;
}

.bg-primary {
    background-color: #007bff!important;
}

.text-white {
    color: white !important;
}
body {
    background-color: #f4f4f4;
}
